{
  "name": "<%= projectName %>",
  "version": "1.0.0",
  "private": true,
  "description": "<%= description %>",
  "templateInfo": {
    "name": "<%= template %>",
    "typescript": <%= typescript %>,
    "css": "<%= css %>"
  },
  "scripts": {
    "build:weapp": "amap build --type weapp",
    "build:h5": "amap build --type h5",
    "build:rn": "amap build --type rn",
    "build:rn-ios":"amap build --type rn --platform ios",
    "build:rn-android":"amap build --type rn --platform android",
    "dev:weapp": "npm run build:weapp -- --watch",
    "dev:h5": "npm run build:h5 -- --watch",
    "dev:rn": "npm run build:rn -- --watch",
    "trim:android": "node build bundle android",
    "trim:ios": "node build bundle ios",
    "pack": "node build pack",
    "inte:android": "npm-run-all build:rn-android trim:android",
    "pack:android": "npm-run-all build:rn-android pack", 
    "inte:ios": "npm-run-all build:rn-ios trim:ios",
    "pack:ios": "npm-run-all build:rn-ios pack"
  },
  "browserslist": [
    "last 3 versions",
    "Android >= 4.1",
    "ios >= 8"
  ],
  "author": "",
  "dependencies": {
    "@babel/runtime": "^7.7.7",
    "@tarojs/components": "3.2.9",
    "@tarojs/runtime": "3.2.9",
    "@tarojs/plugin-html": "^3.3.0-alpha.0",
    "@tarojs/rn-runner": "^3.2.9",
    "@tarojs/taro": "3.2.9",<% if (framework === 'react') {%>
    "@tarojs/react": "3.2.9",
    "@agreejs/taro-rn": "3.2.1",
    "react-dom": "^17.0.0",
    "react-native": "^0.64.1",
    "taro-ui": "^3.0.0-alpha.10",
    "react": "^17.0.0"<%}%><% if (framework === 'nerv') {%>
    "nervjs": "^1.5.0"<%}%><% if (framework === 'vue') {%>
    "vue-template-compiler": "^2.5.0",
    "vue": "^2.5.0"<%}%><% if (framework === 'vue3') {%>
    "vue": "^3.0.0"<%}%>
  },
  "devDependencies": {
    "@types/webpack-env": "^1.13.6",<% if (framework === 'react' || framework === 'nerv') {%>
    "@types/react": "^17.0.2",<%}%>
    "@tarojs/mini-runner": "3.2.9",
    "@babel/core": "^7.8.0",
    "@tarojs/webpack-runner": "3.2.9",
    "babel-preset-taro": "3.2.9",<% if (framework === 'vue') {%>
    "vue-loader": "^15.9.2",
    "eslint-plugin-vue": "^6.x",<%}%><% if (framework === 'vue3') {%>
    "@vue/compiler-sfc": "^3.0.0",
    "vue-loader": "^16.0.0-beta.8",
    "eslint-plugin-vue": "^7.0.0",<%}%>
    "eslint-config-taro": "3.2.9",
    "eslint": "^6.8.0",<% if (framework === 'react' || framework === 'nerv') {%>
    "eslint-plugin-react": "^7.8.2",
    "eslint-plugin-import": "^2.12.0",
    "eslint-plugin-react-hooks": "^4.2.0",<%}%>
    "amap-build-utils": "^1.0.0",
    "jszip": "^3.6.0",
    "npm-run-all": "^4.1.5",
    "stylelint": "9.3.0"<% if (typescript) {%>,
    "@typescript-eslint/parser": "^4.15.1",
    "@typescript-eslint/eslint-plugin": "^4.15.1",
    "typescript": "^4.1.0"<%}%>
  }
}
